
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <button class="btn btn-outline-success" (click)="initChartData(52)">XRP</button>
            <button class="btn btn-outline-success"  (click)="initChartData(74)">DOGE</button>
            <button class="btn btn-outline-success"  (click)="initChartData(1027)">ETH</button>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>


<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
      [labels]="chartOptions.labels"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
  