<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Angular Coin</h1>
      </div>
    </div>
  </div>
</header>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="button" (click)="initChartData(52)">XRP</button>
      </div>
      <div class="col">
        <button class="button" (click)="initChartData(74)">DOGE</button>
      </div>
      <div class="col">
        <button class="button" (click)="initChartData(1027)">ETH</button>
      </div>
    </div>
    <div class="chart-container">
      <div class="row">
        <div class="col">
          <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
              [title]="chartOptions.title" [labels]="chartOptions.labels" [annotations]="annotations"></apx-chart>
          </div>
        </div>
      </div>
      <div class="col">
        <button class="button" (click)="hesapla()">Hesapla</button>
        <label>{{this.trendText}}</label>
      </div>
    </div>
  </div>
</section>
